/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}

/* Navbar */
.navbar {
    background: #212529;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center; /* centra el título */
    position: relative;
    box-shadow: 0 3px 8px rgba(255, 102, 0, 0.712);
}

.navbar-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

.btn-nav {
    position: absolute; /* queda a la izquierda sin mover el título */
    left: 20px;
    background: #ff9100;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s ease;
}
.btn-nav:hover {
    background: #fa5f05;
}

/* Contenedor */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}
/* Títulos */
.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #222;
    text-align: center;
}

/* Card de formulario */
.form-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgb(255, 136, 1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

/* Campos */
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group.full-width {
    grid-column: 1 / -1;
}

label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #000000;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ffa807;
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}
input:focus, textarea:focus {
    border-color: #f5ab0d;
    box-shadow: 0 0 4px rgba(255, 136, 0, 0.973);
}

/* Acciones */
.form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius : 12px ;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.primary {
    background: #ffa600;
    color: #fff;
    border-color: #565e6400;
}
.btn.primary:hover {
    background: #ff8a03;
}

.btn.secondary {
    background: #000000;
    color: #fff;
    border-color: #565e6400;
}
.btn.secondary:hover {
    background: #565e64;
}
